html,body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background: #F3F3F3;
    color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom:20px;
    font-family: 'Roboto', sans-serif;
    -webkit-overflow-scrolling: touch;
}

a {
    color: #e6e6fa;
}

.parallax {
    background-size: auto 100%;
    background: url(../img/jumbo_background4k.png) no-repeat fixed center;
}

.loadingScreen{
    width: 100%;
    height: 100vh;
    z-index: 20000;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: -50px;
    margin-bottom: 0;
    padding: 0;
    background-color: #f9f2f4;
}

.loader{
    border: 16px solid #e3e3e3;
    border-top: 16px solid #1c5c7a;
    border-bottom: 16px solid #1c5c7a;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.btn-discord{
  background-color: #7289DA;
  border-color: #7289DA;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes fadeOut {
    0% { opacity: 1 }
    100% { opacity: 0 }
}
.fadeOut {
    animation: fadeOut .75s forwards;
}
