<article class="message is-warning is-centered">
  <div class="message-header">
    <p>Forma and Rivens</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    Weapons are ranked with optimal forma count. <strong>Please note, rivens are not used in weapon rankings!!!</strong>
    However, high riven dispositions for a particular rank are noted.
  </div>
</article>
<article class="message is-info">
  <div class="message-header">
    <p>Testing Methodology</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    Weapons are tested by our <a
    href="https://www.reddit.com/r/Warframe/comments/9lxoxq/melee_ranking_has_been_completed/?st=jnkhn58w&sh=09caa53b">robust
    testing methodology</a>. Top weapons vary in power by up to 5%.
  </div>
</article>
