<div>
  <div class="notification is-danger">
<!--    <button class="delete"></button>-->
    Weapons are ranked with optimal forma count. <strong>Rivens are not used in weapon rankings!</strong>
  </div>
  <div class="notification is-info">
<!--    <button class="delete"></button>-->
    Weapons are tested by our <a href="https://www.reddit.com/r/Warframe/comments/9lxoxq/melee_ranking_has_been_completed/?st=jnkhn58w&sh=09caa53b">robust testing methodology</a>. Top weapons vary in power by up to 5%.
  </div>
</div>
