<div class="container">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="name" />
  </mat-form-field>
  <mat-divider></mat-divider>
  <div class="content">
    <mat-form-field>
      <input matInput placeholder="Mastery Rank (MR)" type="number" [(ngModel)]="mr" />
    </mat-form-field>
    <br />
    <label id="mr-filter-label">MR Filter</label>
    <mat-radio-group [(ngModel)]="mrtype" aria-labelledby="mr-filter-label">
      <mat-radio-button class="item-spacer" value="null">Off</mat-radio-button>
      <mat-radio-button class="item-spacer" value=">"> ></mat-radio-button>
      <mat-radio-button class="item-spacer" value=">="> >=</mat-radio-button>
      <mat-radio-button class="item-spacer" value="<"> &lt;</mat-radio-button>
      <mat-radio-button class="item-spacer" value="<="> &lt;=</mat-radio-button>
      <mat-radio-button class="item-spacer" value="=="> ==</mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-divider></mat-divider>
  <div class="content">
    <mat-form-field>
      <input matInput placeholder="Type" [(ngModel)]="type" />
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <div class="content">
    <div *ngIf="filterCategory == 'Primary'">
      <!--
      <mat-button-toggle-group #group="matButtonToggleGroup" multiple>
        <mat-button-toggle [(ngModel)]="primCategory.Bow" aria-label="Bow">
          Bow
        </mat-button-toggle>
        <mat-button-toggle [(ngModel)]="primCategory.Launcher" aria-label="Launcher">
          Launcher
        </mat-button-toggle>
        <mat-button-toggle [(ngModel)]="primCategory.Rifle" aria-label="Rifle">
          Rifle
        </mat-button-toggle>
        <mat-button-toggle [(ngModel)]="primCategory.Shotgun" aria-label="Shotgun">
          Shotgun
        </mat-button-toggle>
        <mat-button-toggle [(ngModel)]="primCategory.Sniper" aria-label="Sniper">
          Sniper
        </mat-button-toggle>
      </mat-button-toggle-group>
      -->
      <br />
      <mat-checkbox class="item-spacer" [(ngModel)]="primCategory.Bow">Bow</mat-checkbox>
      <mat-checkbox class="item-spacer" [(ngModel)]="primCategory.Launcher">Launcher</mat-checkbox>
      <mat-checkbox class="item-spacer" [(ngModel)]="primCategory.Rifle">Rifle</mat-checkbox>
      <mat-checkbox class="item-spacer" [(ngModel)]="primCategory.Shotgun">Shotgun</mat-checkbox>
      <mat-checkbox class="item-spacer" [(ngModel)]="primCategory.Sniper">Sniper</mat-checkbox>
    </div>
  </div>

  <!--TODO tier dropdown-->

  <mat-divider></mat-divider>
  <div class="content">
    <button mat-button mat-flat-button color="primary" class="item-spacer" (click)="apply()">
      <fa-icon [icon]="faCheck"></fa-icon>
      Apply
    </button> 
    <button mat-button mat-flat-button color="warn" class="item-spacer" (click)="clear()">
      <fa-icon [icon]="faTimes"></fa-icon>
      Clear
    </button>
  </div>
</div>