<form class="example-form">
  <table class="example-full-width">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput name="name" [(ngModel)]="name"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Base</mat-label>
          <input matInput name="base" [(ngModel)]="base"/>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-divider></mat-divider>
  <table class="example-full-width">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Tier</mat-label>
          <mat-select [formControl]="tier" multiple>
            <mat-option value="'Top'">Top</mat-option>
            <mat-option value="'Contender'">Contender</mat-option>
            <mat-option value="'Viable'">Viable</mat-option>
            <mat-option value="'Need buffs'">Need buffs</mat-option>
            <mat-option value="'Untested'">Untested</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" *ngIf = "filterCategory === 'Primary'">
          <mat-label>Category</mat-label>
          <mat-select [formControl]="primCategory" multiple>
            <mat-option value="'Shotgun'">Shotgun</mat-option>
            <mat-option value="'Rifle'">Rifle</mat-option>
            <mat-option value="'Sniper'">Sniper</mat-option>
            <mat-option value="'Bow'">Bow</mat-option>
            <mat-option value="'Launcher'">Launcher</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Trigger Type</mat-label>
          <mat-select [formControl]="triggerType" multiple>
            <mat-option *ngFor="let item of triggerTypes" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" *ngIf = "filterCategory === 'Primary'">
          <mat-label>Munitions</mat-label>
          <mat-select [formControl]="munitions" multiple>
            <mat-option *ngFor="let item of munitionTypes" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Build Type</mat-label>
          <mat-select [formControl]="buildType" multiple>
            <mat-option *ngFor="let item of buildTypes" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-divider></mat-divider>
  <table class="example-full-width">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Mastery Rank (MR)</mat-label>
          <input matInput type="number" name="mr" [(ngModel)]="mr"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Riven Disposition</mat-label>
          <input matInput type="number" name="rivenDisp" [(ngModel)]="rivenDisp"/>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <button mat-button mat-flat-button color="primary" class="item-spacer" (click)="apply()">
    <fa-icon [icon]="faCheck"></fa-icon>
    Apply
  </button>
  <button mat-button mat-flat-button color="warn" class="item-spacer" (click)="clear()">
    <fa-icon [icon]="faTimes"></fa-icon>
    Clear
  </button>
</form>
