.card-container {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.stat-list {
  border-right-width: thin;
  border-bottom-width: thin;
  border-color: lightslategray;
}

.right-container {
  /*flex-grow: 5;*/
}

.left-container {
  /*flex-grow: 2;*/
  /*flex-basis: 25%;*/
}
