.card-container {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.stat-list {
  border-right-width: thin;
  border-bottom-width: thin;
  border-color: lightslategray;
  padding-bottom: .5em;
}

.youtube {
  background-color: #282828;
  color: white;
  /*border-color: #FF071B;*/
  border-width: 2px;
}
