<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Tierlist JSON DB editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" target="_blank" href="css/bootstrap.min.css">

    <link rel="stylesheet" target="_blank" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" target="_blank" href="css/main.css">
    <link rel="stylesheet" target="_blank" href="css/style.css">

    <script src="./js/vendor/modernizr-3.5.0.min.js"></script>
</head>
<body ng-app="editor" ng-controller="EditorController">

<label> Version: <input ng-model="version" type="text"></label>
<br>
<hr>
<label> Alerts:
    <br>
    <select ng-model="selectedAlert"
            ng-options="alert as name for (name, alert) in alerts">
        <option></option>
    </select>
    <input ng-model="selectedAlert.text" size="35">
    <select ng-model="selectedAlert.class">
        <option value="alert-success" class="alert-success">Green</option>
        <option value="alert-info" class="alert-info">Blue</option>
        <option value="alert-warning" class="alert-warning">Yellow</option>
        <option value="alert-danger" class="alert-danger">Red</option>
    </select>
    <button class="btn-danger" ng-click="deleteAlert(selectedAlert)">Delete Alert</button>
    <br>
    New Alert:
    <br>
    <input ng-model="newAlertName">
    <select ng-model="newAlertClass">
        <option value="alert-success" class="alert-success">Green</option>
        <option value="alert-info" class="alert-info">Blue</option>
        <option value="alert-warning" class="alert-warning">Yellow</option>
        <option value="alert-danger" class="alert-danger">Red</option>
    </select>
    <input ng-model="newAlertText">
    <button class="btn-success" ng-click="addAlert(newAlertName, newAlertClass, newAlertText)">Create Alert</button>
</label>
<hr>
<label> Primaries:
    <br>
    <select ng-model="selectedPrimary"
            ng-options="primary as primary.name for primary in Primaries">
        <option></option>
    </select>
    <label>Rank: <input ng-model="selectedPrimary.rank" size="10"></label>
    <label>Tier:
        <select ng-model="selectedPrimary.tier">
            <option value="Top">Top</option>
            <option value="Viable">Viable</option>
            <option value="Non-Viable">Non-Viable</option>
            <option value="Untested">Untested</option>
        </select>
    </label>
    <label>Name: <input ng-model="selectedPrimary.name" size="10"></label>
    <label>MR: <input ng-model="selectedPrimary.mr" size="5"></label>
    <label>Base: <input ng-model="selectedPrimary.base" size="10"></label>
    <label>Category:
        <select ng-model="selectedPrimary.category">
            <option value="Rifle">Rifle</option>
            <option value="Launcher">Launcher</option>
            <option value="Bow">Bow</option>
            <option value="Shotgun">Shotgun</option>
            <option value="Sniper Rifle">Sniper Rifle</option>
        </select>
    </label>
    <label>Dmg Type: <input ng-model="selectedPrimary.dmg" size="15"></label>
    <label>Wep Type: <input ng-model="selectedPrimary.type" size="15"></label>
    <label>Notes: <input ng-model="selectedPrimary.notes" size="30"></label>

    <button class="btn-danger" ng-click="deletePrimary(selectedPrimary)">Delete Primary</button>
    <br>
    New Primary:
    <br>
    <label>Rank: <input ng-model="newPrimaryRank" size="10"></label>
    <label>Tier:
        <select ng-model="newPrimaryTier">
            <option value="Top">Top</option>
            <option value="Viable">Viable</option>
            <option value="Non-Viable">Non-Viable</option>
            <option value="Untested">Untested</option>
        </select>
    </label>
    <label>Name: <input ng-model="newPrimaryName" size="10"></label>
    <label>MR: <input ng-model="newPrimaryMr" size="5"></label>
    <label>Base: <input ng-model="newPrimaryBase" size="10"></label>
    <label>Category:
        <select ng-model="newPrimaryCategory">
            <option value="Rifle">Rifle</option>
            <option value="Launcher">Launcher</option>
            <option value="Bow">Bow</option>
            <option value="Shotgun">Shotgun</option>
            <option value="Sniper Rifle">Sniper Rifle</option>
        </select>
    </label>
    <label>Dmg Type: <input ng-model="newPrimaryDmg" size="15"></label>
    <label>Wep Type: <input ng-model="newPrimaryType" size="15"></label>
    <label>Notes: <input ng-model="newPrimaryNotes" size="30"></label>
    <button class="btn-success" ng-click="addPrimary(newPrimaryName, newPrimaryMr, newPrimaryBase, newPrimaryCategory, newPrimaryDmg,
                                  newPrimaryNotes, newPrimaryRank, newPrimaryTier, newPrimaryType)">Create Primary</button>
</label>
<hr>
<label> Secondaries:
    <br>
    <select ng-model="selectedSecondary"
            ng-options="secondary as secondary.name for secondary in Secondaries">
        <option></option>
    </select>
    <label>Rank: <input ng-model="selectedSecondary.rank" size="10"></label>
    <label>Tier:
        <select ng-model="selectedSecondary.tier">
            <option value="Top">Top</option>
            <option value="Viable">Viable</option>
            <option value="Non-Viable">Non-Viable</option>
            <option value="Untested">Untested</option>
        </select>
    </label>
    <label>Name: <input ng-model="selectedSecondary.name" size="10"></label>
    <label>MR: <input ng-model="selectedSecondary.mr" size="5"></label>
    <label>Base: <input ng-model="selectedSecondary.base" size="10"></label>
    <label>Dmg Type: <input ng-model="selectedSecondary.dmg" size="15"></label>
    <label>Wep Type: <input ng-model="selectedSecondary.type" size="15"></label>
    <label>Notes: <input ng-model="selectedSecondary.notes" size="30"></label>

    <button class="btn-danger" ng-click="deleteSecondary(selectedSecondary)">Delete Secondary</button>
    <br>
    New Secondary:
    <br>
    <label>Rank: <input ng-model="newSecondaryRank" size="10"></label>
    <label>Tier:
        <select ng-model="newSecondaryTier">
            <option value="Top">Top</option>
            <option value="Viable">Viable</option>
            <option value="Non-Viable">Non-Viable</option>
            <option value="Untested">Untested</option>
        </select>
    </label>
    <label>Name: <input ng-model="newSecondaryName" size="10"></label>
    <label>MR: <input ng-model="newSecondaryMr" size="5"></label>
    <label>Base: <input ng-model="newSecondaryBase" size="10"></label>
    <label>Dmg Type: <input ng-model="newSecondaryDmg" size="15"></label>
    <label>Wep Type: <input ng-model="newSecondaryType" size="15"></label>
    <label>Notes: <input ng-model="newSecondaryNotes" size="30"></label>
    <button class="btn-success" ng-click="addSecondary(newSecondaryName, newSecondaryMr, newSecondaryBase, newSecondaryDmg,
                                  newSecondaryNotes, newSecondaryRank, newSecondaryTier, newSecondaryType)">Create Secondary</button>
</label>
<hr>
<label> Melees:
    <br>
    <select ng-model="selectedMelee"
            ng-options="melee as melee.name for melee in Melees">
        <option></option>
    </select>
    <label>Rank: <input ng-model="selectedMelee.rank" size="10"></label>
    <label>Tier:
        <select ng-model="selectedMelee.tier">
            <option value="Top">Top</option>
            <option value="Viable">Viable</option>
            <option value="Non-Viable">Non-Viable</option>
            <option value="Untested">Untested</option>
        </select>
    </label>
    <label>Name: <input ng-model="selectedMelee.name" size="10"></label>
    <label>MR: <input ng-model="selectedMelee.mr" size="5"></label>
    <label>Base: <input ng-model="selectedMelee.base" size="10"></label>
    <label>Stance: <input ng-model="selectedMelee.stance" size="10"></label>
    <label>Stancenotes: <input ng-model="selectedMelee.stancenotes" size="15"></label>
    <label>Combo: <input ng-model="selectedMelee.combo" size="10"></label>
    <label>Dmg Type: <input ng-model="selectedMelee.dmg" size="15"></label>
    <label>Wep Type: <input ng-model="selectedMelee.type" size="15"></label>
    <label>Notes: <input ng-model="selectedMelee.notes" size="30"></label>

    <button class="btn-danger" ng-click="deleteMelee(selectedMelee)">Delete Melee</button>
    <br>
    New Melee:
    <br>
    <label>Rank: <input ng-model="newMeleeRank" size="10"></label>
    <label>Tier:
        <select ng-model="newMeleeTier">
            <option value="Top">Top</option>
            <option value="Viable">Viable</option>
            <option value="Non-Viable">Non-Viable</option>
            <option value="Untested">Untested</option>
        </select>
    </label>
    <label>Name: <input ng-model="newMeleeName" size="10"></label>
    <label>MR: <input ng-model="newMeleeMr" size="5"></label>
    <label>Base: <input ng-model="newMeleeBase" size="10"></label>
    <label>Stance: <input ng-model="newMeleeStance" size="10"></label>
    <label>Stancenotes: <input ng-model="newMeleeStancenotes" size="15"></label>
    <label>Combo: <input ng-model="newMeleeCombo" size="10"></label>
    <label>Dmg Type: <input ng-model="newMeleeDmg" size="15"></label>
    <label>Wep Type: <input ng-model="newMeleeType" size="15"></label>
    <label>Notes: <input ng-model="newMeleeNotes" size="30"></label>
    <button class="btn-success" ng-click="addMelee(newMeleeName, newMeleeMr, newMeleeBase, newMeleeDmg, newMeleeCombo,
                                  newMeleeStance, newMeleeStancenotes, newMeleeNotes, newMeleeRank, newMeleeTier,
                                  newMeleeType)">Create Melee</button>
</label>
<hr>
<label> Schools:
    <br>
    <select ng-model="selectedSchool"
            ng-options="school as school.name for school in Schools">
        <option></option>
    </select>
    <label>Rank: <input ng-model="selectedSchool.rank" size="10"></label>
    <label>Tier:
        <select ng-model="selectedSchool.tier">
            <option value="Top">Top</option>
            <option value="Viable">Viable</option>
            <option value="Non-Viable">Non-Viable</option>
            <option value="Untested">Untested</option>
        </select>
    </label>
    <label>Name: <input ng-model="selectedSchool.name" size="10"></label>
    <label>Op effect: <input ng-model="selectedSchool.op" size="10"></label>
    <label>Frame effect: <input ng-model="selectedSchool.frame" size="10"></label>
    <label>Notes: <input ng-model="selectedSchool.notes" size="30"></label>

    <button class="btn-danger" ng-click="deleteSchool(selectedSchool)">Delete School</button>
    <br>
    New School:
    <br>
    <label>Rank: <input ng-model="newSchoolRank" size="10"></label>
    <label>Tier:
        <select ng-model="newSchoolTier">
            <option value="Top">Top</option>
            <option value="Viable">Viable</option>
            <option value="Non-Viable">Non-Viable</option>
            <option value="Untested">Untested</option>
        </select>
    </label>
    <label>Name: <input ng-model="newSchoolName" size="10"></label>
    <label>Frame Effect: <input ng-model="newSchoolFrame" size="15"></label>
    <label>Operator Effect: <input ng-model="newSchoolOp" size="15"></label>
    <label>Notes: <input ng-model="newSchoolNotes" size="30"></label>
    <button class="btn-success" ng-click="addSchool(newSchoolName, newSchoolFrame, newSchoolNotes, newSchoolRank,
                                                    newSchoolTier, newSchoolOp)">Create School</button>
</label>
<hr>
<label> Archwings:
    <br>
    <select ng-model="selectedArchwing"
            ng-options="archwing as archwing.name for archwing in Archwings">
        <option></option>
    </select>
    <label>Rank: <input ng-model="selectedArchwing.rank" size="10"></label>
    <label>Tier:
        <select ng-model="selectedArchwing.tier">
            <option value="Top">Top</option>
            <option value="Viable">Viable</option>
            <option value="Non-Viable">Non-Viable</option>
            <option value="Untested">Untested</option>
        </select>
    </label>
    <label>Name: <input ng-model="selectedArchwing.name" size="10"></label>
    <label>Use: <input ng-model="selectedArchwing.use" size="10"></label>
    <label>Notes: <input ng-model="selectedArchwing.notes" size="30"></label>

    <button class="btn-danger" ng-click="deleteArchwing(selectedArchwing)">Delete Archwing</button>
    <br>
    New Archwing:
    <br>
    <label>Rank: <input ng-model="newArchwingRank" size="10"></label>
    <label>Tier:
        <select ng-model="newArchwingTier">
            <option value="Top">Top</option>
            <option value="Viable">Viable</option>
            <option value="Non-Viable">Non-Viable</option>
            <option value="Untested">Untested</option>
        </select>
    </label>
    <label>Name: <input ng-model="newArchwingName" size="10"></label>
    <label>Use: <input ng-model="newArchwingUse" size="10"></label>
    <label>Notes: <input ng-model="newArchwingNotes" size="30"></label>
    <button class="btn-success" ng-click="addArchwing(newArchwingName, newArchwingUse, newArchwingNotes,
                                                    newArchwingRank, newArchwingTier)">Create Archwing</button>
</label>
<hr>
<label> Archguns:
    <br>
    <select ng-model="selectedArchgun"
            ng-options="archgun as archgun.name for archgun in Archguns">
        <option></option>
    </select>
    <label>Rank: <input ng-model="selectedArchgun.rank" size="10"></label>
    <label>Tier:
        <select ng-model="selectedArchgun.tier">
            <option value="Top">Top</option>
            <option value="Viable">Viable</option>
            <option value="Non-Viable">Non-Viable</option>
            <option value="Untested">Untested</option>
        </select>
    </label>
    <label>Name: <input ng-model="selectedArchgun.name" size="10"></label>
    <label>Use: <input ng-model="selectedArchgun.use" size="10"></label>
    <label>Base: <input ng-model="selectedArchgun.base" size="15"></label>
    <label>Firing: <input ng-model="selectedArchgun.firing" size="10"></label>
    <label>Notes: <input ng-model="selectedArchgun.notes" size="30"></label>

    <button class="btn-danger" ng-click="deleteArchgun(selectedArchgun)">Delete Archgun</button>
    <br>
    New Archgun:
    <br>
    <label>Rank: <input ng-model="newArchgunRank" size="10"></label>
    <label>Tier:
        <select ng-model="newArchgunTier">
            <option value="Top">Top</option>
            <option value="Viable">Viable</option>
            <option value="Non-Viable">Non-Viable</option>
            <option value="Untested">Untested</option>
        </select>
    </label>
    <label>Name: <input ng-model="newArchgunName" size="10"></label>
    <label>Use: <input ng-model="newArchgunUse" size="10"></label>
    <label>Base: <input ng-model="newArchgunBase" size="15"></label>
    <label>Firing: <input ng-model="newArchgunFiring" size="10"></label>
    <label>Notes: <input ng-model="newArchgunNotes" size="30"></label>
    <button class="btn-success" ng-click="addArchgun(newArchgunName, newArchgunUse, newArchgunBase, newArchgunFiring,
                                        newArchgunNotes, newArchgunRank, newArchgunTier)">Create Archgun</button>
</label>
<hr>
<label> Archmelees:
    <br>
    <select ng-model="selectedArchmelee"
            ng-options="archmelee as archmelee.name for archmelee in Archmelees">
        <option></option>
    </select>
    <label>Rank: <input ng-model="selectedArchmelee.rank" size="10"></label>
    <label>Tier:
        <select ng-model="selectedArchmelee.tier">
            <option value="Top">Top</option>
            <option value="Viable">Viable</option>
            <option value="Non-Viable">Non-Viable</option>
            <option value="Untested">Untested</option>
        </select>
    </label>
    <label>Name: <input ng-model="selectedArchmelee.name" size="10"></label>
    <label>Use: <input ng-model="selectedArchmelee.use" size="10"></label>
    <label>Notes: <input ng-model="selectedArchmelee.notes" size="30"></label>

    <button class="btn-danger" ng-click="deleteArchmelee(selectedArchmelee)">Delete Archmelee</button>
    <br>
    New Archmelee:
    <br>
    <label>Rank: <input ng-model="newArchmeleeRank" size="10"></label>
    <label>Tier:
        <select ng-model="newArchmeleeTier">
            <option value="Top">Top</option>
            <option value="Viable">Viable</option>
            <option value="Non-Viable">Non-Viable</option>
            <option value="Untested">Untested</option>
        </select>
    </label>
    <label>Name: <input ng-model="newArchmeleeName" size="10"></label>
    <label>Use: <input ng-model="newArchmeleeUse" size="10"></label>
    <label>Notes: <input ng-model="newArchmeleeNotes" size="30"></label>
    <button class="btn-success" ng-click="addArchmelee(newArchmeleeName, newArchmeleeUse, newArchmeleeNotes, newArchmeleeRank,
                                    newArchmeleeTier)">Create Archmelee</button>
</label>
<hr>
<label> Companions:
    <br>
    <select ng-model="selectedCompanion"
            ng-options="companion as companion.name for companion in Companions">
        <option></option>
    </select>
    <label>Rank: <input ng-model="selectedCompanion.rank" size="10"></label>
    <label>Tier:
        <select ng-model="selectedCompanion.tier">
            <option value="Top">Top</option>
            <option value="Viable">Viable</option>
            <option value="Non-Viable">Non-Viable</option>
            <option value="Untested">Untested</option>
        </select>
    </label>
    <label>Name: <input ng-model="selectedCompanion.name" size="10"></label>
    <label>Abilities: <input ng-model="selectedCompanion.abilities" size="10"></label>
    <label>Base: <input ng-model="selectedCompanion.base" size="15"></label>
    <label>Category: <input ng-model="selectedCompanion.category" size="10"></label>
    <label>Notes: <input ng-model="selectedCompanion.notes" size="30"></label>

    <button class="btn-danger" ng-click="deleteCompanion(selectedCompanion)">Delete Companion</button>
    <br>
    New Companion:
    <br>
    <label>Rank: <input ng-model="newCompanionRank" size="10"></label>
    <label>Tier:
        <select ng-model="newCompanionTier">
            <option value="Top">Top</option>
            <option value="Viable">Viable</option>
            <option value="Non-Viable">Non-Viable</option>
            <option value="Untested">Untested</option>
        </select>
    </label>
    <label>Name: <input ng-model="newCompanionName" size="10"></label>
    <label>Abilities: <input ng-model="newCompanionAbilities" size="10"></label>
    <label>Base: <input ng-model="newCompanionBase" size="15"></label>
    <label>Category: <input ng-model="newCompanionCategory" size="10"></label>
    <label>Notes: <input ng-model="newCompanionNotes" size="30"></label>
    <button class="btn-success" ng-click="addCompanion(newCompanionName, newCompanionUse, newCompanionBase,
        newCompanionNotes, newCompanionCategory, newCompanionRank, newCompanionTier)">Create Companion</button>
</label>
<hr>
<label> Resolve Collisions:
    <br>
    <select ng-model="selectedCategory"
            ng-options="category as category for category in categories">
        <option></option>
    </select>
    <button ng-click="reorderButton()">Resolve</button>
</label>
<hr>
<label> Download JSON:
    <br>
    <button ng-click="download(this)">Download</button>
</label>

<script src="./js/vendor/jquery-3.2.1.min.js"></script>
<script>window.jQuery || document.write('<script src="./js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="https://use.fontawesome.com/fb3acbaa38.js"></script>
<script src="./js/vendor/bootstrap.min.js"></script>

<script src="./js/editor.js"></script>
<!--<script src="./js/editor.js"></script>-->
</body>
</html>
