
<!doctype html>
<html class="no-js" lang="">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>i_wanna_b_the_guy's Tier List (Version: 22.2.2)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" target="_blank" href="css/bootstrap.min.css">

    <link rel="stylesheet" target="_blank" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" target="_blank" href="css/main.css">
    <link rel="stylesheet" target="_blank" href="css/style.css">

    <script src="./js/vendor/modernizr-3.5.0.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" target="_blank" href="#">i_wanna_b_the_guy's Warframe Tier List (Version: 22.2.2)</a>
            <!-- TODO: make version dynamic -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/weblue/weblue.github.io/issues">Comment on Rankings</a>
                </li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron parallax">
    <div class="container">
        <!--<h1>Hello, world!</h1>-->
        <p>List is curated by <a href="http://twitch.tv/mrflooners">flooners</a>. This is a personal, partially
            subjective tier list, however constructive criticism is always encouraged and appreciated.
            <a href="https://www.reddit.com/r/Warframe/comments/3p6wgu/updated_pve_tier_list_for_1771/cw3qzy8">
            Before you freak out about a weapon's tier, read this disclaimer by /u/4G3NT_0R4NGE3.</a> Nevertheless,
            this guide is intended to get a general sense of which gear items to use.
            <br>
            <br>
            Ordering of items is only somewhat meaningful, positions can be considered +/- 5 of each other.
            <br>
            <br>
            Feel free to donate using the link at the bottom or contribute using the link at the top.
            </p>
    </div>
</div>

<!-- Main body -->
<div ng-app="tierlist" ng-controller="TierListController" class="container boxed">

    <div class="container row text-right filterbox">
        <b>Filter:</b> <input placeholder="top, launcher, Tonkor" class="input-sm" ng-model="$ctrl.query"/>
    </div>


    <ul class="nav nav-tabs nav-justified" id="tabs">
        <li class="nav-item" onclick="$(this).addClass('active')" ng-repeat="category in categories">
            <a target="_blank" href="#{(category)}">{(category)}</a>
        </li>
        <li class="nav-item">
            <a target="_blank" href="#Sentweps">Sentinel Weapons</a>
        </li>
    </ul>

    <!--Fields: url, tier, rank, name, category, dmg, type, notes, mr, base-->
    <div class="container tiertab" id="Primaries">
        <table id="primariesTable" class="table table-condensed table-responsive sortable">
            <thead>
            <tr>
                <th width="10%">Weapons</th>
                <th width="8%">Category</th>
                <th width="8%">Dmg Type</th>
                <th width="10%">Wep Type</th>
                <th width="auto">Notes</th>
                <th width="auto">MR</th>
                <th width="15%">Base/Event Rank</th>
            </tr>
            </thead>
            <tbody ng-repeat="tiers in Tiers | orderBy: 'rank'">
            <tr>
                <td><b>{(tiers.name)}</b></td>
            </tr>
            <tr class="sortable" ng-repeat="primary in Primaries | filter: $ctrl.query | filter: {tier : tiers.name} : true | orderBy: 'rank'">
                <td><a target="_blank" href="{(primary.url)}">{(primary.name)}</a></td>
                <td>{(primary.category)}</td>
                <td>{(primary.dmg)}</td>
                <td>{(primary.type)}</td>
                <td>{(primary.notes)}</td>
                <td>{(primary.mr)}</td>
                <td>{(primary.base)}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--Fields: url, tier, rank, name, dmg, type, notes, mr, base-->
    <div class="container tiertab" id="Secondaries">
        <table id="secondariesTable" class="table table-condensed table-responsive sortable">
            <thead>
            <tr>
                <th width="12%">Weapons</th>
                <th width="8%">Dmg Type</th>
                <th width="10%">Wep Type</th>
                <th width="auto">Notes</th>
                <th width="auto">MR</th>
                <th width="13%">Base/Event Rank</th>
            </tr>
            </thead>
            <tbody ng-repeat="tiers in Tiers | orderBy: 'rank'">
            <tr>
                <td><b>{(tiers.name)}</b></td>
            </tr>
            <tr ng-repeat="secondary in Secondaries | filter: $ctrl.query | filter: {tier : tiers.name} : true | orderBy: 'rank'">
                <td><a target="_blank" href="{(secondary.url)}">{(secondary.name)}</a></td>
                <td>{(secondary.dmg)}</td>
                <td>{(secondary.type)}</td>
                <td>{(secondary.notes)}</td>
                <td>{(secondary.mr)}</td>
                <td>{(secondary.base)}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--Fields: url, name, tier, rank, dmg, type, stance, combo, wepnotes, stancenotes, mr, base-->
    <div class="container tiertab" id="Melee">
        <table id="meleesTable" class="table table-condensed table-responsive sortable">
            <thead>
            <tr>
                <th width="12%">Weapons</th>
                <th width="8%">Dmg type</th>
                <th width="10%">Wep type</th>
                <th width="12%">Rec. Combo</th>
                <th width="auto">Wep Notes</th>
                <!--<th width="20%">Combo Notes</th>-->
                <th width="auto">MR</th>
                <th width="13%">Base/Event Rank</th>
            </tr>
            </thead>
            <tbody ng-repeat="tiers in Tiers | orderBy: 'rank'">
            <tr>
                <td><b>{(tiers.name)}</b></td>
            </tr>
            <tr ng-repeat="melee in Melees | filter: $ctrl.query | filter: {tier : tiers.name} : true | orderBy: 'rank'">
                <td><a target="_blank" href="{(melee.url)}">{(melee.name)}</a></td>
                <td>{(melee.dmg)}</td>
                <td>{(melee.type)}</td>
                <td>{(melee.combo)}</td>
                <td>{(melee.wepnotes)}</td>
                <!--<td>{(melee.stancenotes)}</td>-->
                <td>{(melee.mr)}</td>
                <td>{(melee.base)}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--TODO: data entry-->
    <!--Fields: url, rank, tier, name, category, use, notes-->
    <div class="container tiertab" id="Frames">
        <table id="framesTable" class="table table-condensed table-responsive sortable">
            <thead>
            <tr>
                <th width="10%">Frames</th>
                <th width="8%">Category</th>
                <th width="15%">Use</th>
                <th width="auto">Notes</th>
            </tr>
            </thead>
            <tbody ng-repeat="tiers in Tiers | orderBy: 'rank'">
            <tr>
                <td><b>{(tiers.name)}</b></td>
            </tr>
            <tr ng-repeat="frame in Frames | filter: $ctrl.query | filter: {tier : tiers.name} : true | orderBy: 'rank'">
                <td><a target="_blank" href="{(frame.url)}">{(frame.name)}</a></td>
                <td>{(frame.category)}</td>
                <td>{(frame.use)}</td>
                <td>{(frame.notes)}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--Fields: url, rank, tier, name, frame, op, notes-->
    <div class="container tiertab" id="Schools">
        <table id="schoolsTable" class="table table-condensed table-responsive sortable">
            <thead>
            <tr>
                <th width="10%">School</th>
                <th width="25%">Effect on Frame</th>
                <th width="25%">Effect on Operator</th>
                <th width="40%">Notes</th>
            </tr>
            </thead>
            <tbody ng-repeat="tiers in Tiers | orderBy: 'rank'">
            <tr>
                <td><b>{(tiers.name)}</b></td>
            </tr>
            <tr ng-repeat="school in Schools | filter: $ctrl.query | filter: {tier : tiers.name} : true | orderBy: 'rank'">
                <td><a target="_blank" href="{(school.url)}">{(school.name)}</a></td>
                <td>{(school.frame)}</td>
                <td>{(school.op)}</td>
                <td>{(school.notes)}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--Fields: url, rank, tier, name, notes, base-->
    <div class="container tiertab" id="Archwings">
        <table id="archwingsTable" class="table table-condensed table-responsive sortable">
            <thead>
            <tr>
                <th width="12%">Archwings</th>
                <th width="20%">Use</th>
                <th width="auto">Notes</th>
                <th width="15%">Base Rank</th>
            </tr>
            </thead>
            <tbody ng-repeat="tiers in Tiers | orderBy: 'rank'">
            <tr>
                <td><b>{(tiers.name)}</b></td>
            </tr>
            <tr ng-repeat="archwing in Archwings | filter: $ctrl.query | filter: {tier : tiers.name} : true | orderBy: 'rank'">
                <td><a target="_blank" href="{(archwing.url)}">{(archwing.name)}</a></td>
                <td>{(archwing.use)}</td>
                <td>{(archwing.notes)}</td>
                <td>{(archwing.base)}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--Fields: url, rank, tier, name, use, firing, notes, base-->
    <div class="container tiertab" id="Archguns">
        <table id="archgunsTable" class="table table-condensed table-responsive sortable">
            <thead>
            <tr>
                <th width="10%">Archgun</th>
                <th width="10%">Use</th>
                <th width="10%">Wep Type</th>
                <th width="auto">Notes</th>
                <th width="15%">Base Rank</th>
            </tr>
            </thead>
            <tbody ng-repeat="tiers in Tiers | orderBy: 'rank'">
            <tr>
                <td><b>{(tiers.name)}</b></td>
            </tr>
            <tr ng-repeat="archgun in Archguns | filter: $ctrl.query | filter: {tier : tiers.name} : true | orderBy: 'rank'">
                <td><a target="_blank" href="{(archgun.url)}">{(archgun.name)}</a></td>
                <td>{(archgun.use)}</td>
                <td>{(archgun.firing)}</td>
                <td>{(archgun.notes)}</td>
                <td>{(archgun.base)}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--Fields: url, rank, tier, name, use, notes, base-->
    <div class="container tiertab" id="Archmelees">
        <table id="archmeleesTable" class="table table-condensed table-responsive sortable">
            <thead>
            <tr>
                <th width="10%">Melees</th>
                <th width="10%">Use</th>
                <th width="auto">Notes</th>
                <th width="15%">Base Rank</th>
            </tr>
            </thead>
            <tbody ng-repeat="tiers in Tiers | orderBy: 'rank'">
            <tr>
                <td><b>{(tiers.name)}</b></td>
            </tr>
            <tr ng-repeat="archmelee in Archmelees | filter: $ctrl.query | filter: {tier : tiers.name} : true | orderBy: 'rank'">
                <td><a target="_blank" href="{(archmelee.url)}">{(archmelee.name)}</a></td>
                <td>{(archmelee.use)}</td>
                <td>{(archmelee.notes)}</td>
                <td>{(archmelee.base)}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--Fields: url, category, rank, tier, name, abilities, notes, base-->
    <div class="container tiertab" id="Companions">
        <table id="companionsTable" class="table table-condensed table-responsive sortable">
            <thead class="thead-">
            <tr>
                <th width="10%">Companion</th>
                <th width="8%">Category</th>
                <th width="20%">Abilities</th>
                <th width="auto">Notes</th>
                <th width="12%">Base Rank</th>
            </tr>
            </thead>
            <tbody ng-repeat="tiers in Tiers | orderBy: 'rank'">
            <tr>
                <td><b>{(tiers.name)}</b></td>
            </tr>
            <tr ng-repeat="companion in Companions | filter: $ctrl.query | filter: {tier : tiers.name} : true | orderBy: 'rank'">
                <td><a target="_blank" href="{(companion.url)}">{(companion.name)}</a></td>
                <td>{(companion.category)}</td>
                <td>{(companion.abilities)}</td>
                <td>{(companion.notes)}</td>
                <td>{(companion.base)}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--Done-->
    <!--Fields: url, rank, name, tier, use, type, notes-->
    <div class="container tiertab" id="Sentweps">
        <table id="sentwepsTable" class="table table-condensed table-responsive sortable">
            <thead>
            <tr>
                <th width="15%">Sentinal Weapons</th>
                <th width="12%">Use</th>
                <th width="12%">Wep Type</th>
                <th width="auto">Notes</th>
            </tr>
            </thead>
            <tbody ng-repeat="tiers in Tiers | orderBy: 'rank'">
            <tr>
                <td><b>{(tiers.name)}</b></td>
            </tr>
            <tr ng-repeat="sentwep in Sentweps | filter: $ctrl.query | filter: {tier : tiers.name} : true | orderBy: 'rank'">
                <td><a target="_blank" href="{(sentwep.url)}">{(sentwep.name)}</a></td>
                <td>{(sentwep.use)}</td>
                <td>{(sentwep.type)}</td>
                <td>{(sentwep.notes)}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-9">
            <h2>FAQ</h2>
            <p>Weapons are tested in level 100 content with 2 Forma. Process will be outline as needed in the future</p>
            <p> <a href="https://go.twitch.tv/mrflooners"> <img class="img-responsive img-rounded" style="width: 20%" src="https://www.sketchbook.com/blog/wp-content/uploads/2016/02/FOLLOWUS-TWITCH.png"/> </a>
            <a href="https://www.patreon.com/flooners" target="_blank"> <img class="img-rounded img-responsive" style="width: 10%" src="https://thefamilyalphacom.files.wordpress.com/2017/06/patreonsupport.png"  alt="Support me on Patreon!"> </a>
            </p>
        </div>

        <p class="col-md-2">
            <h2>Credits</h2>
            <p>Author: <a target="_blank" href="http://twitch.tv/mrflooners">flooners</a><br></p>
            <p>Thanks to
                <br> Kalgash
                <br> Brendan
                <br> .hallwayRaptor
            </p>
    </div>

    <hr>

    <footer>
        <p>&copy; <a target="_blank" href="http://twitch.tv/mrflooners">i_wanna_b_the_guy</a> 2017</p>
    </footer>
</div> <!-- /container -->
<script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
<script src="./js/vendor/jquery-3.2.1.min.js"></script>
<script>window.jQuery || document.write('<script src="./js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="./js/vendor/bootstrap.min.js"></script>

<script src="./js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');

    $(document).ready(function () {
        let tabElement = $('#tabs');
        tabElement.find('li a:not(:first)').addClass('inactive');
//        tabElement.find('li:first').addClass('active');
        $('.tiertab:not(:first)').hide();

        tabElement.find('li a').click(function () {
            let t = $(this).attr('href');
            if ($(this).hasClass('inactive')) { //this is the start of our condition
                $('#tabs').find('li a').addClass('inactive');
//                $('#tabs').find('li').removeClass('active');
                $(this).removeClass('inactive');
                $('.tiertab').hide();
                $(t).fadeIn('slow');
            }
            return false;
        })
    });
</script>
</body>
</html>
