<div class="content">
  <mat-divider></mat-divider>
  <div class="content container">
    <h2 class="mat-headline">i_wanna_b_the_guy's Tier List</h2>
    <p>built with angular and <fa-icon class="animated-heartbeat" [icon]="faHeart"></fa-icon> by the tier list team</p>
    <ul class="list-unstyled">
      <li>author: flooners</li>
      <li>curator: sakai4eva</li>
      <li>developers: flooners, malsf21</li>
      <li>thanks to: Kalgash, Zhandragon, Brendan, .hallwayRaptor™, Ypqah</li>
    </ul>
    <br />
    <ul class="list-unstyled">
      <li><a href="https://discord.gg/Cq3jW27" target="_blank" rel="noopener"><fa-icon [icon]="faDiscord"></fa-icon> Discord Server</a></li>
      <li><a href="https://github.com/weblue/wanna_b_tierlist" target="_blank" rel="noopener"><fa-icon [icon]="faGithub"></fa-icon> GitHub Repository</a></li>
    </ul>
    <br />
    <p> &copy; <a target="_blank" href="https://creatorscollective.club">i_wanna_b_the_guy</a> 2017 </p>
  </div>
</div>
