<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/">wanna_b Home</a>
    <a class="discord-button" mat-mini-fab href="https://discord.gg/Cq3jW27" target="_blank" rel="noopener">
      <fa-icon [icon]="faDiscord"></fa-icon>
    </a>
    <a class="github-button" mat-mini-fab href="https://github.com/weblue/wanna_b_tierlist" target="_blank"
       rel="noopener">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
    <a mat-flat-button color="accent" routerLink="/faq">
      <fa-icon [icon]="faInfoCircle"></fa-icon>
      Notes & FAQ
    </a>
  </mat-toolbar-row>
</mat-toolbar>
