<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a>Cephalon wanna_b Home</a>
    <a class="discord-button" mat-flat-button href="https://discord.gg/Cq3jW27" target="_blank" rel="noopener">
      <fa-icon [icon]="faDiscord"></fa-icon>
      Join Our Discord!
    </a>
    <a class="github-button" mat-flat-button href="https://github.com/weblue/wanna_b_tierlist" target="_blank"
       rel="noopener">
      <fa-icon [icon]="faGithub"></fa-icon>
      Contribute on GitHub
    </a>
    <a mat-flat-button color="accent" href="#faq">
      <fa-icon [icon]="faInfoCircle"></fa-icon>
      Notes & FAQ
    </a>

    <!--    <span>i_wanna_b_the_guy's Tier List &nbsp;</span>-->
    <!--    <span class="version-info mat-small">{{listVersion}}</span>-->
    <!--    <span class="nav-spacer"></span>-->
  </mat-toolbar-row>
</mat-toolbar>
