.nav-spacer {
  flex: 1 1 auto;
	padding-left: 1em;
}
.version-info{
	font-weight: normal;
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.discord-button{
  color:white;
  background-color: #758AD4;
  margin-right: .5em;
  margin-top: .5em;
}

.github-button{
  color:white;
  background-color: #24282D;
  margin-right: .5em;
  margin-top: .5em;
}
