<!--
<mat-tab-group>
  <mat-tab label="Primaries" (click)="switch('Primaries')"> Primaries </mat-tab>
  <mat-tab label="Secondaries" (click)="switch('Secondaries')"> Secondaries </mat-tab>
  <mat-tab label="Melees" (click)="switch('Melees')"> Melees </mat-tab>
</mat-tab-group>
-->
<button mat-raised-button (click)="switch('primaries')"> Primaries </button>
<button mat-raised-button (click)="switch('secondaries')"> Secondaries </button>
<button mat-raised-button (click)="switch('melees')"> Melees </button>
<!--<button mat-raised-button (click)="switch('Archwings')"> Archwings </button>-->
<!--<button mat-raised-button (click)="switch('Archguns')"> Archguns </button>-->
<!--<button mat-raised-button (click)="switch('Archmelees')"> Archmelees </button>-->

<mat-table matSort [dataSource]="tableDataSource" class="mat-elevation-z8" multiTemplateDataRows>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> <a target="_blank" href="{(element.url)}">{{element.name}}</a> </td>
  </ng-container>

  <ng-container matColumnDef="base">
    <th mat-header-cell *matHeaderCellDef> Base </th>
    <td mat-cell *matCellDef="let element"> {{element.base}} </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <ng-container matColumnDef="mr">
    <th mat-header-cell *matHeaderCellDef> MR </th>
    <td mat-cell *matCellDef="let element"> {{element.mr}} </td>
  </ng-container>

  <ng-container matColumnDef="dmg">
    <th mat-header-cell *matHeaderCellDef> Damage Type </th>
    <td mat-cell *matCellDef="let element"> {{element.dmg}} </td>
  </ng-container>

  <ng-container matColumnDef="rivenDisposition">
    <th mat-header-cell *matHeaderCellDef> Riven Dispo </th>
    <td mat-cell *matCellDef="let element"> {{element.rivenDisposition}} </td>
  </ng-container>

  <ng-container matColumnDef="notes">
    <th mat-header-cell *matHeaderCellDef> Notes </th>
    <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="wepnotes">
    <th mat-header-cell *matHeaderCellDef> Notes </th>
    <td mat-cell *matCellDef="let element"> {{element.wepnotes}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <!--TODO actually display useful stuff inside and remove/replace the example CSS-->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <div> {{element.position}} </div>
          <div> {{element.symbol}} </div>
          <div> {{element.name}} </div>
          <div> {{element.weight}} </div>
        </div>
        <div class="example-element-description">
          {{element.description}}
          <span class="example-element-description-attribution"> -- Wikipedia </span>
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="top-tier">
    <tr mat-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length"><b>Top</b></tr>
  </ng-container>
  <ng-container matColumnDef="contender-tier">
    <tr mat-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length"><b>Contender</b></tr>
  </ng-container>
  <!--<ng-container matColumnDef="viable-tier">-->
    <!--<tr mat-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length"><b>Viable</b></tr>-->
  <!--</ng-container>-->
  <!--<ng-container matColumnDef="needsbuffs-tier">-->
    <!--<tr mat-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length"><b>Needs Buffs</b></tr>-->
  <!--</ng-container>-->
  <!--<ng-container matColumnDef="untested-tier">-->
    <!--<tr mat-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length"><b>Untested Tier</b></tr>-->
  <!--</ng-container>-->

  <!--Top row headers-->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!--Tier header row-->
  <!--TODO change these to rows so they don't go to the top-->
  <!--not displaying anymore-->
  <tr mat-header-row *matHeaderRowDef="['top-tier']"><b>Top</b></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [hidden]="row.tier !== 'Top'"
      class="example-element-row" [class.example-expanded-row]="expandedElement === row"
      (click)="expandedElement = expandedElement === row ? null : row">
  </tr>

  <tr mat-header-row *matHeaderRowDef="['contender-tier']"></tr>
  <!--<tr mat-header-row *matHeaderRowDef="['viable-tier']"></tr>-->
  <!--<tr mat-header-row *matHeaderRowDef="['needsbuffs-tier']"></tr>-->
  <!--<tr mat-header-row *matHeaderRowDef="['untested-tier']"></tr>-->
  <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"-->
      <!--class="example-element-row"-->
      <!--[class.example-expanded-row]="expandedElement === row"-->
      <!--(click)="expandedElement = expandedElement === row ? null : row">-->
  <!--</tr>-->
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</mat-table>


