.discord-button{
    color:white;
    background-color: #758AD4;
    margin-right: 1em;
    margin-top: 1em;
}

.github-button{
    color:white;
    background-color: #24282D;
    margin-right: 1em;
    margin-top: 1em;
}

.example-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-card-title {
  font-size: 2rem;
  font-weight: bold;
}

.mat-card-subtitle {
  font-size: 1rem;
}
