tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

td.mat-cell {
  border-bottom: 0
}

tr.detail-row {
  height: 0;
  /*animation: close-card 2s;*/
}

th {
  position: sticky;
  top: calc(4rem - 1px);
  background: whitesmoke;
  z-index: 2;
}

.sticky-tier td {
  background-color: lightgray;
  position: sticky;
  top: calc(7rem + 7px);
  z-index: 1;
}

.row-detail {
  overflow: hidden;
  display: flex;
}

.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* overrides */


.mat-header-cell {
  font-size: 1.25em;
}

.margin-left {
  padding-left: 1em
}

.padded-top {
  padding-top: .2em
}

.margin-right {
  margin-right: .5em
}

.mat-cell{
  font-size: 1.25em;
}

.unusual_riven {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.unusual_riven .tooltip_text {
  visibility: hidden;
  width: 15em;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.unusual_riven:hover .tooltip_text {
  visibility: visible;
}

.perf_index {
  border-bottom: 1px dotted black;
}

.perf_index .tooltip_text {
  visibility: hidden;
  width: 15em;
  top: 100%;
  left: -50%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
}

.perf_index:hover .tooltip_text {
  visibility: visible;
}

table {
  width: 100%
}

.bottom-border {
  border-bottom: 1pt solid #dbdbdb;
}

/*@keyframes close-card {*/
/*0% {*/
/*  display: block;*/
/*  height: 100%;*/
/*}*/
/*99% {*/
/*  display: block;*/
/*  height: 0;*/
/*}*/
/*100% {*/
/*  display: none;*/
/*}*/
/*}*/
