tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-detail-row {
  height: 0;
}

th {
  position: sticky;
  top: 4rem;
  background: whitesmoke;
  z-index: 998;
}

.sticky-tier {
  position: sticky;
  /*top: 8rem;*/
}


.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* overrides */

.mat-header-cell {
  font-size: 1.25em;
}

.padded {
  padding-top: .5em
}

.margin-right {
  margin-right: .5em
}

.mat-cell{
  font-size: 1.25em;
}

.unusual_riven {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.unusual_riven .tooltip_text {
  visibility: hidden;
  width: 15em;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.unusual_riven:hover .tooltip_text {
  visibility: visible;
}

.perf_index {
  border-bottom: 1px dotted black;
}

.perf_index .tooltip_text {
  visibility: hidden;
  width: 15em;
  top: 100%;
  left: -50%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 999;
}

.perf_index:hover .tooltip_text {
  visibility: visible;
}

.flex-container {
  /*TODO this is hacky, but apparently flex boxes don't inherit size/margins from parent*/
  margin-right: 12.5%;
  margin-left: 12.5%;
}

