tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* overrides */

.mat-header-cell {
  font-size: 1em;
}

/*.nav {
  display: inline-block;
}*/

.mat-cell{
  font-size: 1.25em;
  padding-top: 0.5em;
  padding-bottom: 0;
}

.unusual_riven {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.unusual_riven .tooltip_text {
  visibility: hidden;
  width: 15em;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.unusual_riven:hover .tooltip_text {
  visibility: visible;
}

.perf_index {
  border-bottom: 1px dotted black;
}

.perf_index .tooltip_text {
  visibility: hidden;
  width: 15em;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.perf_index:hover .tooltip_text {
  visibility: visible;
}

.tab-right-align {
  position: absolute;
  right: 0;
}
